<div id="editPerson" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Edycja osoby</h4>
			</div>
			<form name="editForm" class="ng-pristine ng-untouched ng-valid" ng-submit="ctrl.editSubmit()">
			<div class="modal-body">
				<div class="panel panel-default">
					<div class="panel-heading" ng-bind="ctrl.person1._id ? 'Edycja osoby id '+ctrl.person1._id : 'New person'">
						<span ng-hide="editForm.$valid" class="label label-warning">incomplete data</span>
					</div>
					<div class="form-group panel-body">
					<label for="firstName">Imię</label>
					
					<input id="firstName" type="text" ng-model="ctrl.person1.firstName" class="form-control" required="" placeholder="First name"/>
					<label for="lastName">Nazwisko</label>
					<input id="lastName" type="text" ng-model="ctrl.person1.lastName" class="form-control" required="" placeholder="Last name"/>

					<label for="email">E-mail</label>
					<input id="email" type="email" ng-model="ctrl.person1.login" class="form-control" required="" placeholder="email@domain.org"/>

					<label for="roles">Role</label>
					<div class="checkbox">
						<label class="checkbox-inline" ng-repeat="(role,enabled) in ctrl.rolesList">
							<input type="checkbox" ng-model="ctrl.rolesList[role]" />{{role}} 
						</label>
					</div>
					
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary glyphicon glyphicon-ok" ng-disabled="editForm.$invalid"/>
				<button type="button" class="btn btn-danger glyphicon glyphicon-trash" ng-click="ctrl.confirmRemove()" ng-disabled="!ctrl.person1._id"/>
				<button type="button" class="btn btn-default glyphicon glyphicon-remove" data-dismiss="modal"/>
			</div>
			</form>
		</div>
	</div>
</div>