<div id="registrationDialog" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Rejestracja <small><span ng-show="ctrl.registrationMsg" ng-bind="ctrl.registrationMsg" class="left text-left alert alert-danger" role="alert"/></small></h4>
			</div>
			<!--<form name="registrationForm" class="ng-pristine ng-untouched ng-valid" ng-submit="ctrl.validateCredentials()">-->
            <form name="registrationForm" class="ng-pristine ng-untouched ng-valid" ng-submit="ctrl.registrationSubmit()">
			<div class="modal-body">
				<div class="panel panel-default">
					<div class="form-group panel-body">
					<label for="firstName">Imie</label>
					<input id="firstNameR" type="text" ng-model="ctrl.person.firstName" class="form-control" required=""  ng-change="ctrl.registrationMsg=''"/>
					<label for="lastName">Nazwisko</label>
					<input id="lastNameR" type="text" ng-model="ctrl.person.lastName" class="form-control" required=""  ng-change="ctrl.registrationMsg=''"/>

					<label for="login">E-mail</label>
					<input id="loginR" type="email" ng-model="ctrl.person.login" class="form-control" required="" placeholder="user@domain" ng-change="ctrl.registrationMsg=''"/>
					<label for="password">Hasło</label>
					<input id="passwordR" type="password" ng-model="ctrl.person.password" class="form-control" placeholder="password" ng-change="ctrl.registrationMsg=''"/>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary glyphicon glyphicon-log-in" ng-disabled="registrationForm.$invalid "/>
				<button type="button" class="btn btn-default glyphicon glyphicon-remove" data-dismiss="modal"/>
			</div>
			</form>
		</div>
	</div>
</div>